.title-block {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}
.title-content {
    display: flex;
    align-items: flex-start;
}
footer {
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    transition: opacity 0.5s ease, word-spacing 1s ease;
    text-align: center;
    padding: 5px 0;
}
footer:hover {
    opacity: 255;
    word-spacing: 1.8px;
}
label {
    font-size: 14px;
}
input {
    margin-bottom: 0;
}
.poster {
    max-width: 120px;
    margin-right: 20px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
video {
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    background-color: transparent;
    margin-top: 30px;
    margin-bottom: 5px;
}
.title-info h2 {
    margin-bottom: 10px;
}
.title-description p {
    margin-top: 15px;
}
.spinner {
    display: block;
    margin: 0 auto;
}
.toggle-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
#image-toggle {
    top: 20px;
    left: 20px;
    right: unset;
}
.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
@media (max-width: 600px) {
    .title-content{
        flex-direction: column;
    }
    .poster {
        align-items: center;
        margin: auto;
        max-width: 80%;
        margin-bottom: 15px;
    }
}
.content-wrapper {
    position: relative;
    overflow: hidden;
}
.title-description, .player-container {
    transition: opacity 0.5s ease, max-height 0.5s ease;
    opacity: 1;
    max-height: 1000px;
    overflow: hidden;
}
.title-description.hidden, .player-container.hidden {
    opacity: 0;
    max-height: 0;
    padding: 0;
    margin: 0;
    pointer-events: none;
}
.title-description.visible, .player-container.visible {
    opacity: 1;
    max-height: 1000px;
}